.m-about {
  width: 100%;
  padding: 1.6rem 0 .8rem;
  .container {
    @include container-width-lg;
    .me,
    .page {
      display: flex;
      line-height: 1.7;
      margin-bottom: 1rem;
      .title {
        flex: 0 0 auto;
        margin-top: 0;
        font-size: $font-size-h3;
        letter-spacing: 2px;
      }
      .line {
        flex: 0 0 auto;
        margin: 0 .3rem;
        width: 6px;
        background: $line-color;
      }
      .detail {
        .desc {
          margin: 0;
        }
        .info {
          @include unstyled-list-x;
          li {
            margin-right: .5rem;
          }
          .male {
            i {
              @include icon-font('male');
            }
          }
          .graduation {
            i {
              @include icon-font('graduation');
            }
          }
          .location {
            i {
              @include icon-font('location');
            }
          }
          .email {
            i {
              @include icon-font('email');
            }
            a {
              @include clear-link($link-color);
            }
          }
        }
      }
    }
    .page {
      flex-direction: row-reverse;
      margin-bottom: 0;
      .desc {
        margin: 0;
      }
    }
  }
}

// called in meida-queries
@mixin about-md {
  .m-about {
    padding: 1.2rem 0 .6rem;
    .container {
      .me {
        margin-bottom: .6rem;
      }
    }
  }
}

@mixin about-sm {
  .m-about {
    padding: .8rem 0 .4rem;
    .container {
      .me,
      .page {
        margin-bottom: .4rem;
        .title {
          display: none;
        }
        .line {
          display: none;
        }
        .detail {
          .desc {
            font-weight: 100;
            .start {
              display: inline-block;
              width: 5px;
              height: 18px;
              margin-right: 4px;
              vertical-align: text-bottom;
              background: $line-color;
            }
          }
          .info {
            display: none;
          }
        }
      }
      .page {
        margin-bottom: 0;
      }
    }
  }
}