.m-about {
  width: 100%;
  padding: 1.2rem 0;
  .container {
    width: 90%;
    max-width: $max-width-lg;
    margin: 1rem auto 0;
    .me,
    .page {
      display: flex;
      line-height: 1.7;
      margin-bottom: 1.5rem;
      .title {
        flex: 0 0 auto;
        margin-top: 0;
        font-size: $font-size-h3;
        letter-spacing: 2px;
      }
      .line {
        flex: 0 0 auto;
        margin: 0 .3rem;
        width: 6px;
        background: $line-color;
      }
      .detail {
        .desc {
          margin-top: 0;
        }
        .info {
          @include unstyled-list-x;
          li {
            margin-right: .5rem;
          }
          .male {
            i {
              @include icon-font('male');
            }
          }
          .graduation {
            i {
              @include icon-font('graduation');
            }
          }
          .location {
            i {
              @include icon-font('location');
            }
          }
          .email {
            i {
              @include icon-font('email');
            }
            a {
              @include clear-link($link-color);
            }
          }
        }
      }
    }
    .page {
      flex-direction: row-reverse;
      margin-bottom: 0;
      .desc {
        margin: 0;
      }
    }
  }
}

// called in meida-queries
@mixin about-md {}

@mixin about-sm {}