.footer {
  $height: 32px;
  width: 100%;
  padding: .15rem 0;
  background: #EEE;
  .container {
    @include container-width-lg;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    .copyright {
      display: inline-block;
      line-height: $height;
      .u-logo {
        display: inline-block;
        width: $height;
        height: $height;
        margin-right: 10px;
        vertical-align: bottom;
        img {
          width: $height;
          height: $height;
        }
      }
      .text {
        display: inline-block;
        padding: 0 .5em;
        line-height: $height;
      }
    }
    .contact {
      .list {
        @include unstyled-list;
        .item {
          display: inline-block;
          padding: 0 .5em;
          line-height: 0;
          vertical-align: middle;
          a {
            display: inline-block;
            line-height: $height;
            img {
              width: 22px;
              height: $height;
              vertical-align: middle;
              cursor: pointer;
            }
          }
        }
      }
    }
    .link {
      .list {
        @include unstyled-list;
        .item {
          display: inline-block;
          padding: 0 .5em;
          line-height: $height;
          a {
            @include clear-link($link-color);
          }
        }
      }
    }
  }
}

// called in meida-queries
@mixin footer-md {}

@mixin footer-sm {
  .footer {
    padding: .2rem 0;
    .container {
      flex-direction: column;
      .copyright {
        order: 3;
        width: 100%;
        margin: .05rem 0;
        .u-logo {
          display: none;
        }
      }
      .contact {
        order: 1;
        width: 100%;
        margin: .05rem 0;
      }
      .link {
        order: 2;
        width: 100%;
        margin: .05rem 0;
      }
    }
  }
}