.footer {
  width: 100%;
  padding: .2rem 0;
  background: #EEE;
  .container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    max-width: $max-width-lg;
    font-size: 14px;
    .copyright {
      display: inline-block;
      width: 33%;
      line-height: 32px;
      text-align: center;
      .u-logo {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        vertical-align: bottom;
        img {
          width: 32px;
          height: 32px;
        }
      }
      .text {
        line-height: 32px;
      }
    }
    .contact {
      width: 33%;
      .list {
        text-align: center;
        @include unstyled-list;
        .item {
          display: inline-block;
          padding: 0 .5em;
          line-height: 32px;
          i {
            cursor: pointer;
            font-size: 18px;
          }
          .github {
            color: rgb(36, 41, 46);
            @include icon-font('github');
          }
          .linkedin {
            color: rgb(14, 118, 168);
            @include icon-font('linkedin');
          }
          .wechat {
            color: rgb(0, 210, 5);
            @include icon-font('wechat');
          }
          .email {
            color: rgb(18, 150, 219);
            @include icon-font('email-color');
          }
        }
      }
    }
    .link {
      width: 33%;
      .list {
        text-align: center;
        @include unstyled-list;
        .item {
          display: inline-block;
          padding: 0 .5em;
          line-height: 32px;
          a {
            @include clear-link($link-color);
          }
        }
      }
    }
  }
}

// called in meida-queries
@mixin footer-md {}

@mixin footer-sm {}