.footer {
  width: 100%;
  padding: .2rem 0;
  background: #EEE;
  .container{
    width: 90%;
    margin: 0 auto;
    max-width: $max-width-lg;

  }
}  
  
// called in meida-queries
@mixin footer-md {}

@mixin footer-sm {}