.m-nav {
  position: relative;
  max-width: 1200px;
  height: $header-height-lg;
  margin: 0 auto;
  text-align: center;
  .u-logo {
    float: left;
  }
  .u-nav {
    display: inline-block;
    position: absolute;
    right: 50%;
    transform: translate(0);
    .list {
      @include unstyled-list;
      position: relative;
      right: -50%;
      white-space: nowrap;
      .item {
        display: inline-block;
        height: $header-height-lg;
        line-height: $header-height-lg;
        &::before {
          content: '|';
          display: inline-block;
          color: white;
          transform: scale(.35);
        }
        &:first-of-type::before {
          display: none;
        }
        a {
          display: inline-block;
          height: 100%;
          padding: 0 .4rem;
          color: white;
          box-sizing: border-box;
          font-size: $font-size-h4;
          letter-spacing: 1px;
          @include clear-link(white);
        }
      }
    }
  }
}

.fixed .m-nav {
  .u-nav {
    right: 0;
    transition: right .3s;
    .list {
      right: 0;
      transition: right .3s;
    }
  }
}

// called in meida-queries
@mixin nav-md {}

@mixin nav-sm {}