.m-skills {
  width: 100%;
  padding: 1.2rem 0;
  .container {
    width: 90%;
    max-width: $max-width-lg;
    margin: 0 auto;
    .title {
      @include title-line;
    }
    .comment {
      display: block;
      margin: 2em 0;
      text-align: center;
      font-size: $font-size-small;
      font-weight: 100;
      font-style: italic;
    }
  }
}

// called in meida-queries
@mixin skills-md {}

@mixin skills-sm {}