.m-works {
  width: 100%;
  padding: 1.2rem 0;
  background-color: #F9FAFC;
  .container {
    @include container-width-lg;
    .title {
      @include title-line;
    }
    .comment {
      display: block;
      margin: 2em 0;
      text-align: center;
      font-size: $font-size-small;
      font-weight: 100;
      font-style: italic;
    }
  }
}

// called in meida-queries
@mixin works-md {}

@mixin works-sm {}