.m-works {
  width: 100%;
  padding: .8rem 0 .8rem;
  background-color: #F9FAFC;
  .container {
    @include container-width-lg;
    .title {
      @include title-line-gradient;
    }
    .comment {
      display: block;
      margin: .4rem 0 .3rem;
      text-align: center;
      font-size: $font-size-small;
      font-weight: 100;
    }
    .content {
      display: flex;
      flex-wrap: wrap;
      .c-work-item {
        width: 25%;
        padding: 10px;
        box-sizing: border-box;
        opacity: 0;
        animation-fill-mode: both;
        &.fadeInUp {
          animation-name: fadeInUp;
          animation-duration: 1s;
        }
        .pic {
          position: relative;
          display: block;
          overflow: hidden;
          padding-bottom: 56%;
          font-size: 0;
          background: #EEE url('../../assets/img/works/work_404.png') center center no-repeat;
          background-size: 120px;
          img {
            position: absolute;
            width: 100%;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            background-color: #EEE;
          }
        }
        .info {
          position: relative;
          .name {
            margin-top: 10px;
            margin-bottom: 0;
            .external-link {
              @include clear-link($link-color);
              .iconfont {
                font-size: $font-size-h3;
              }
            }
          }
          .tag {
            position: absolute;
            right: 4px;
            top: 0;
            height: 20px;
          }
          .desc {
            margin: 10px 0;
          }
        }
      }
    }
  }
}

// called in meida-queries
@mixin works-md {
  .m-works {
    padding: .6rem 0 .6rem;
    .container {
      .content {
        .c-work-item {
          width: 50%;
        }
      }
    }
  }
}

@mixin works-sm {
  .m-works {
    padding: .4rem 0 .4rem;
    .container {
      .title {
        @include title-line;
        &::before {
          margin-left: 0;
          margin-right: 10px;
        }
        &::after {
          margin-left: 10px;
          margin-right: 0;
        }
      }
      .comment {
        margin: .25rem 0;
      }
      .content {
        .c-work-item {
          width: 100%;
          padding: 10px 0;
        }
      }
    }
  }
}