@mixin title-line-gradient() {
  display: flex;
  font-size: $font-size-h2;
  &::before,
  &::after {
    content: ' ';
    flex: 1 1 auto;
    height: 1px;
    margin: #{$font-size-h2 - 6px} .2rem 0;
  }
  &::before {
    background: linear-gradient(to right, white, $line-color 100%);
  }
  &::after {
    background: linear-gradient(to left, white, $line-color 100%);
  }
  @include title-line-dpr-fix(1.5);
  @include title-line-dpr-fix(2);
  @include title-line-dpr-fix(2.5);
  @include title-line-dpr-fix(3);
}

@mixin title-line() {
  display: flex;
  font-size: $font-size-h2;
  &::before,
  &::after {
    content: ' ';
    flex: 1 1 auto;
    height: 1px;
    margin: #{$font-size-h2 - 6px} .2rem 0;
    background: $line-color;
  }
  @include title-line-dpr-fix(1.5);
  @include title-line-dpr-fix(2);
  @include title-line-dpr-fix(2.5);
  @include title-line-dpr-fix(3);
}

@mixin title-line-dpr-fix($dpr) {
  @media screen and (-webkit-min-device-pixel-ratio: $dpr), screen and (min-device-pixel-ratio: $dpr) {
    &::before {
      transform: scaleY(1/$dpr);
    }
    &::after {
      transform: scaleY(1/$dpr);
    }
  }
}