@mixin icon-font($class) {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::before {
    content: getIconFont($class);
  }
}

@function getIconFont($class) {
  @if $class=="male" {
    @return "\e61a";
  }
  @else if $class=="graduation" {
    @return "\e6a8";
  }
  @else if $class=="location" {
    @return "\e74c";
  }
  @else if $class=="email" {
    @return "\e608";
  }
}