::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #cecece;
}

::-webkit-scrollbar-thumb {
  background-color: #cecece;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: none;
  border: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  box-shadow: none;
  border: 0;
}

/* overides metro scrolbars in IE10 and makes them look like a default scrollbar */

@-ms-viewport {
  width: auto !important;
}

::-moz-selection {
  color: #fff;
  background: #e45000;
}

::selection {
  color: #fff;
  background: #e45000;
}

html {
  font-size: 100px; // pc直接默认100px
}

body {
  padding-top: 80vh;
  font-size: $font-size-text; // 字体在每种设备上固定，不用rem
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, SegoeUI, 'Microsoft YaHei', 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// called in meida-queries
@mixin base-md {
  $design-width: 768; // 设计稿对应的设备尺寸
  $design-rem: 100; // 设计稿对应尺寸下，1rem大小。  100方便计算，也方便理解
  html {
    font-size: ($design-rem / $design-width) * 100vw;
  }
  body {
    font-size: $font-size-text;
  }
}

@mixin base-sm {
  $design-width: 375;
  $design-rem: 100;
  html {
    font-size: ($design-rem / $design-width) * 100vw;
  }
}