.header {
  position: absolute;
  top: calc(#{$hero-height} - #{$header-height});
  z-index: 100;
  width: 100%;
  height: $header-height;
  background-color: $hero-bg-color;
}

.header.fixed {
  position: fixed;
  top: 0;
}

.main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.footer {
  position: relative;
  z-index: 1;
  background: white;
}

// called in meida-queries
@mixin layout-md {
}

@mixin layout-sm {
  .header {
    position: fixed;
    top: 0;
  }
}