$hero-bg-color: #393e46;
$link-color: #07C;
$line-color: #00B7EE;

$hero-height: 70vh;
$hero-height-sm: 50vh;
$header-height: 50px;

$max-width: 1440px;

$font-size-h2: 20px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-text: 16px;
$font-size-text-sm: 15px;
$font-size-small: 12px;

